In [2]:
import pandas as pd
import numpy as np

# Pandas Series Initialization

In [7]:

list=[1,3,4,5,9]
ser=pd.Series(list)
ser

0    1
1    3
2    4
3    5
4    9
dtype: int64

In [8]:
list = np.array([1,4,9,16,25])
ser=pd.Series(list)
ser

0     1
1     4
2     9
3    16
4    25
dtype: int32

In [5]:
s=pd.Series(data=["data1","data2","data3","data4"],index=["index1","index2","index3","index4"])
display(s['index1'])

'data1'

In [11]:
dic = {1:'A',2:'B',3:'C',5:'E'}
pd.Series(dic)

1    A
2    B
3    C
5    E
dtype: object

# Pandas Series Repeat

In [16]:
pd.Series(5).repeat(6)

0    5
0    5
0    5
0    5
0    5
0    5
dtype: int64

In [17]:
pd.Series(5).repeat(6).reset_index()

   index  0
0      0  5
1      0  5
2      0  5
3      0  5
4      0  5
5      0  5

In [18]:
pd.Series(5).repeat(6).reset_index(drop = True)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

# Pandas Element Accessing

In [19]:
list=[1,3,4,5,9]
ser=pd.Series(list)
print(ser[0],ser[2])

1 4

In [21]:
print(ser[4])

9

In [26]:
ser[:4]

0    1
1    3
2    4
3    5
dtype: int64

In [24]:
ser[0:5:2]

0    1
2    4
4    9
dtype: int64

# Functions:

In [35]:
#Aggregate Functions:
list=[1,3,-4,5,9,-8,5,6,8,4]
ser=pd.Series(list)
print(ser.agg([min,sum,max]))
print(ser.agg(['median','mean','std','count']))

min    -8
sum    29
max     9
dtype: int64
median     4.500000
mean       2.900000
std        5.300943
count     10.000000
dtype: float64

In [37]:
#Absolute Functions: -> Converts all data into +ve
ser,ser.abs()

(0    1
 1    3
 2   -4
 3    5
 4    9
 5   -8
 6    5
 7    6
 8    8
 9    4
 dtype: int64,
 0    1
 1    3
 2    4
 3    5
 4    9
 5    8
 6    5
 7    6
 8    8
 9    4
 dtype: int64)

In [ ]:
## Append Series

In [39]:
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([8,10])
ser3= ser1.append(ser2)
ser3

0     1
1     2
2     3
3     4
4     5
0     8
1    10
dtype: int64

In [40]:
ser3.reset_index(drop=True)

0     1
1     2
2     3
3     4
4     5
5     8
6    10
dtype: int64

In [ ]:
# Astype Function

In [41]:
ser = pd.Series([1,3,6,8,10])
ser

0     1
1     3
2     6
3     8
4    10
dtype: int64

In [42]:
ser.astype('float')

0     1.0
1     3.0
2     6.0
3     8.0
4    10.0
dtype: float64

In [43]:
ser.astype('string')

0     1
1     3
2     6
3     8
4    10
dtype: string

In [46]:
#Between Function
ser = pd.Series([1,3,5,6,8,10,13,19,22,29])
ser.between(6,15)

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7    False
8    False
9    False
dtype: bool

## String Function

In [56]:
ser = pd.Series(["  Vedant","Vinayak  "," Kulkarni ","22110452"])

In [57]:
print(ser.str.lower())
print(ser.str.upper())

0        vedant
1     vinayak
2     kulkarni
3      22110452
dtype: object
0        VEDANT
1     VINAYAK
2     KULKARNI
3      22110452
dtype: object

In [60]:
print(ser.str.strip())
print(len(ser[0]))
print(len(ser.str.strip()[0]))

0      Vedant
1     Vinayak
2    Kulkarni
3    22110452
dtype: object
8
6

In [62]:
ser=pd.Series(["fsd drf","adsd fgjyjkuku"])
ser.str.split()

0           [fsd, drf]
1    [adsd, fgjyjkuku]
dtype: object

In [63]:
ser = pd.Series(["  Vedant","Vinayak  "," Kulkarni ","22110452"])
ser.str.contains('ant')

0     True
1    False
2    False
3    False
dtype: bool

In [64]:
ser.str.replace(' ','_')

0      __Vedant
1     Vinayak__
2    _Kulkarni_
3      22110452
dtype: object

In [65]:
ser.str.count('a')

0    1
1    2
2    1
3    0
dtype: int64

In [66]:
ser.str.startswith('V')

0    False
1     True
2    False
3    False
dtype: bool

In [67]:
ser.str.endswith('2')

0    False
1    False
2    False
3     True
dtype: bool

In [68]:
ser.str.find('45')

0   -1
1   -1
2   -1
3    5
dtype: int64

In [69]:
ser.to_list()

['  Vedant', 'Vinayak  ', ' Kulkarni ', '22110452']

TypeError: to_excel() missing 1 required positional argument: 'excel_writer'